[Desktop Entry]
Type=Application
Name=Snowbound
GenericName=Note Taking
Comment=Type and draw notes in OneNote notebooks
Exec=snowbound %F
Icon=net.paperclover.snowbound
Terminal=false
Categories=Office;
MimeType=application/onenote;
StartupNotify=true
StartupWMClass=net.paperclover.snowbound
