[Desktop Entry]
Type=Application
Name=Snowbound
GenericName=Note Taking
Comment=Type and draw notes in OneNote notebooks
Exec=snowbound %U
Icon=net.paperclover.snowbound
Terminal=false
Categories=Office;
MimeType=application/onenote;x-scheme-handler/snowbound;
StartupNotify=true
StartupWMClass=net.paperclover.snowbound
